{% extends 'base.html' %}
{% block conteudo %}

<h2 style="text-align: center;">Contas</h2>
<hr>
	
	<table class="table table-bordered table-hover">
		<thead >
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Party</th>
				<th>State</th>
				<th>Legislature ID</th>
				<th>Photo URL</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			{% for deputados in deputados %}
			<tr>
				<td>{{deputados.id}}</td>
				<td>{{deputados.nome}}</td>
				<td>{{deputados.partido}}</td>
				<td>{{deputados.estado}}</td>
				<td>{{deputados.legendaid}}</td>
				<td><img src={{deputados.fotourl}} height="80" width="80"> </td>
				<td>{{deputados.email}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock conteudo %}