{% extends 'base.html' %}
{% block conteudo %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA_Compatible" content="IE-Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<meta name="Douglas Silva" content="" />
	<title>Autotrac</title>
	<link href="../../../static/css/styles.css" rel="stylesheet" />   
</head>
<h2 style="text-align: center;">Base x Veículo</h2>
<hr>

	<table class="table table-bordered table-hover">
		<thead >
			<tr>
				<th>ID</th>
				<th>Conta</th>
				<th>Data-Hora</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Posição Hora</th>
				<th>Marcação</th>				
			</tr>
		</thead>
		<tbody>
			{%for i in range(0, len)%} 
			<tr>
				<td>{{messages[i]['ID']}}</td>
				<td>{{messages[i]['AccountNumber']}}</td>
				<td>{{messages[i]['MessageTime']}}</td>
				<td>{{messages[i]['Latitude']}}</td>
				<td>{{messages[i]['Longitude']}}</td>
				<td>{{messages[i]['PositionTime']}}</td>
				<td>{{messages[i]['Landmark']}}</td>						
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock conteudo %}