{% extends 'base.html' %}
{% block conteudo %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA_Compatible" content="IE-Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<meta name="Douglas Silva" content="" />
	<title>Autotrac</title>
	<link href="../../../static/css/styles.css" rel="stylesheet" />   
</head>
<h2 style="text-align: center;">Base x Veículo</h2>
<hr>

	<table class="table table-bordered table-hover">
		<thead >
			<tr>
				<th>ID</th>
				<th>Conta</th>
				<th>Data-Hora</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Posição Hora</th>
				<th>Marcação</th>				
			</tr>
		</thead>
		<tbody>
			{% for messages in messages %}
			<tr>
				<td>{{messages.id}}</td>
				<td>{{messages.accountnumber}}</td>
				<td>{{messages.messagetime}}</td>				
				<td>{{messages.latitude}}</td>
				<td>{{messages.longitude}}</td>
				<td>{{messages.positiontime}}</td>
				<td>{{messages.landmark}}</td>				
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock conteudo %}