{% extends 'base.html' %}
{% block conteudo %}
<html>
	<head>
		<style>
			.img-container {
			  text-align: center;
			}
		  </style>
		  <link href="../../../static/css/styles.css" rel="stylesheet" />   
	</head>

<h2 style="text-align: center;">Não há dados</h2>
<hr>

<figure>
	<div class="img-container">
		<img width="500" height="300" src="../static/img/non_date_vehicle.png" alt="Veiculo Autorizado">
	</div>
</figure>

<body>
        
	<meta http-equiv="refresh" content="2; URL='/veiculos'"/>
	
</body>

</html>

{% endblock conteudo %}