{% extends 'base.html' %}
{% block conteudo %}

<h2 style="text-align: center;">Posição de Veiculos</h2>
<hr>
<ul class="list-group">
	{% for fruta in frutas %}
		<li class="list-group-item">{{fruta}}</li>
	{% endfor %}
	
	<table class="table table-bordered table-hover">
		<thead >
			<tr>
				<th>Num Conta</th>
				<th>Veiculo</th>
				<th>Veiculo End</th>
				<th>Ignição</th>
				<th>Velocidade</th>
				<th>Odometro</th>
				<th>Hora Med</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Marcação</th>
				<th>UF</th>
				<th>Pais</th>
				<th>Hora Posi</th>
				<th>Direção</th>
				<th>GPS</th>
				<th>Distancia</th>
				<th>Hora Rec</th>
				<th>Canal Tra</th>
				<th>Cidade</th>
			</tr>
		</thead>
		<tbody>
			{% for vehiclespositions in vehiclespositions %}
			<tr>
				<td>{{vehiclespositions.accountnumber}}</td>
				<td>{{vehiclespositions.vehiclename}}</td>
				<td>{{vehiclespositions.vehicleaddress}}</td>
				<td>{{vehiclespositions.vehicleignition}}</td>
				<td>{{vehiclespositions.velocity}}</td>
				<td>{{vehiclespositions.odometer}}</td>
				<td>{{vehiclespositions.hourmeter}}</td>
				<td>{{vehiclespositions.latitude}}</td>
				<td>{{vehiclespositions.longitude}}</td>
				<td>{{vehiclespositions.landmark}}</td>
				<td>{{vehiclespositions.uf}}</td>
				<td>{{vehiclespositions.countrydescription}}</td>
				<td>{{vehiclespositions.positionTime}}</td>
				<td>{{vehiclespositions.direction}}</td>
				<td>{{vehiclespositions.directionGPS}}</td>
				<td>{{vehiclespositions.distance}}</td>
				<td>{{vehiclespositions.receivedtime}}</td>
				<td>{{vehiclespositions.transmissionchannel}}</td>
				<td>{{vehiclespositions.county}}</td>				
			</tr>
			{% endfor %}
		</tbody>
	</table> 
</ul>

{% endblock conteudo %}