{% extends 'base.html' %}
{% block conteudo %}

<h2 style="text-align: center;">Veiculos Autorizados</h2>
<hr>

	<table class="table table-bordered table-hover">
		<thead >
			<tr>
				<th>MCT</th>
				<th>Nome</th>
				<th>Num Conta</th>
				<th>Nome Conta</th>
				<th>Criado</th>
				<th>Operador</th>
				<th>Posição</th>
			</tr>
		</thead>
		<tbody>
			{%for i in range(0, len)%} 
			
			<tr>
				<td>{{veiculos[i]['VehicleAddress']}}</td>				
				<td>{{veiculos[i]['VehicleName']}}</td>				
				<td>{{veiculos[i]['AccountNumber']}}</td>				
				<td>{{veiculos[i]['AccountName']}}</td>				
				<td>{{veiculos[i]['CreatedTime']}}</td>
				<td>{{veiculos[i]['CreatedOperatorFullName'][1:40]}}</td>
				<td align="center">					
					<a href="mensagens/{{veiculos[i]['VehicleCode']}}" type="button"  class="btn btn-warning">Mensagens</a>
				</td> 
			</tr>
			{% endfor %}
		</tbody>
	</table> 


{% endblock conteudo %}