{% extends 'base.html' %}
{% block conteudo %}

<h2 style="text-align: center;">Cadastro de Veiculos</h2>
<hr>

	<table class="table table-bordered table-hover">
		<thead >
			<tr>
				<th>Codigo</th>
				<th>Nome</th>
				<th>Endereço</th>				
				<th>Autorizado</th>
				<th align="center">Ação</th>
				<th align="center">Mensagens</th>
			</tr>
		</thead>
		<tbody>
			{% for vehicles in vehicles %}
			<tr>
				<td>{{vehicles.code}}</td>
				<td>{{vehicles.name}}</td>
				<td>{{vehicles.address}}</td>
				<td>{{vehicles.authorization}}</td>
				<td align="center">
					<a href="{{vehicles.code}}/auth_vehicles" type="button"  class="btn btn-primary">Autorizar</a>
				</td>
				<td align="center">
					<!-- <a href="/mensagens?code={{vehicles.code}}&addess={{vehicles.address}}" type="button"  class="btn btn-warning">Mensagens</a> -->
					<a href="{{vehicles.code}}/{{vehicles.address}}/mensagens" type="button"  class="btn btn-warning">Mensagens</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table> 


{% endblock conteudo %}