{% extends 'base.html' %}
{% block conteudo %}

<h2 style="text-align: center;">Cadastro de Veiculos</h2>

<hr>

	<table id="veiculos" class="table table-bordered table-hover">
		<thead >
			<tr>
				<th>MCT</th>
				<th>Nome</th>											
				<th align="center">Ação</th>
				
			</tr>
		</thead>
		<tbody>
			{% for veiculos in veiculos %}
			
			<tr>
				<td>{{veiculos.address}}</td>	
				<td>{{veiculos.name[0:40]}}</td>							
				<td >
					<a href="{{veiculos.code}}/auth_vehicles" type="button"  class="btn btn-primary">Autorizar</a>
					<a href="{{veiculos.code}}/revoke_vehicles" type="button"  class="btn btn-danger">Revogar</a>					
					<a href="/veiculos_posicao?code={{veiculos.code}}" type="button"  class="btn btn-info">Posição</a>					
				</td>
						
			</tr>
			{% endfor %}
		</tbody>
	</table> 
	
	<script src="../static/js/jquery.min.js"></script>	
	<script src="../static/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="../static/css/jquery.dataTables.min.css">
	
	<script>
		$(document).ready(function(){
			$('#veiculos').DataTable({
				language: {
							info: 'Pagina _PAGE_ de _PAGES_',
							infoEmpty: 'Registro não encontrado',
							infoFiltered: '(filtered from _MAX_ total records)',
							lengthMenu: 'Quantidade _MENU_ registro por pagina',
							zeroRecords: 'Não encontrado'
    					}
			});
		})
	</script>
{% endblock conteudo %}