{% extends 'base.html' %}
{% block conteudo %}

<h2 style="text-align: center;">Cadastro de Veiculos</h2>

<hr>

	<table class="table table-bordered table-hover">
		<thead >
			<tr>
				<th>Codigo</th>
				<th>Nome</th>
				<th>Endereço</th>				
				
				<th align="center">Ação</th>
				<th align="center">Mensagens</th>
			</tr>
		</thead>
		<tbody>
			{%for i in range(0, len)%} 
			
			<tr>
				<td>{{veiculos[i]['Code']}}</td>
				<td>{{veiculos[i]['Name'][1:40]}}</td>
				<td>{{veiculos[i]['Address']}}</td>
				<td align="center">
					<a href="{{veiculos[i]['Code']}}/auth_vehicles" type="button"  class="btn btn-primary">Autorizar</a>
				</td>
				<td align="center">					
					<a href="mensagens/{{veiculos[i]['Code']}}" type="button"  class="btn btn-warning">Mensagens</a>
				</td> 
			</tr>
			{% endfor %}
		</tbody>
	</table> 


{% endblock conteudo %}